# Intelligent Realestate Investing

In [167]:
#https://rapidapi.com/apidojo/api/realtor
import pandas as pd
import requests
import json #helps manipulate json
import csv # helps with csv files
from bs4 import BeautifulSoup
!pip install pyzillow

from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import os
import shutil

# for web driver down below
email = 'blaketindol@gmail.com'
passwordz = "SWimming178!!" 
#https://www.melissa.com/v2/lookups/addresssearch/?number=&street=Carino+Ct&city=Paw+Paw&state=MI&zip=49079-9661&freeForm=

Requirement already satisfied: pyzillow in c:\users\btindol\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied: requests in c:\users\btindol\anaconda3\lib\site-packages (from pyzillow) (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\btindol\anaconda3\lib\site-packages (from requests->pyzillow) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\btindol\anaconda3\lib\site-packages (from requests->pyzillow) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\btindol\anaconda3\lib\site-packages (from requests->pyzillow) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\btindol\anaconda3\lib\site-packages (from requests->pyzillow) (2.10)

WARNING: You are using pip version 21.0.1; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\users\btindol\anaconda3\python.exe -m pip install --upgrade pip' command.

In [56]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [4]:
# Function using the realator api to grabe houses that are for sale!!

def api_property_list_for_sale(city, state, prop_type, limit=200):

    url = "https://realtor.p.rapidapi.com/properties/v2/list-for-sale"

    querystring = {"city":city,"limit":"200","offset":"0","state_code":state,"sort":"relevance","prop_type":prop_type}

    headers = {
        'x-rapidapi-key': "3098984b99msh9a120a8ade10e53p1ebdd1jsn7703d6e155d0",
        'x-rapidapi-host': "realtor.p.rapidapi.com"
        }

    response = requests.request("GET", url, headers=headers, params=querystring)

    return response.json() # json format

In [5]:
# Once pick state and home type throw it through this function to get the proper readable format
def process_list_for_sale_response(response_json):
    """
    Process the list for sale API response.

    Convert each listing to a dataframe, append to a list, and concatenate to one dataframe.

    Parameters
    ----------
    @response_json [dictionary]: API response for list for sale

    Returns
    -------
    [dataframe] Dataframe of all list for sale responses

    """

    # empty dataframe
    dataframe_list = []

    # iterate through each for sale listing
    for l in response_json['properties']:

        # convert each listing to dataframe
        _temp_df = pd.DataFrame.from_dict(l, orient='index').T

        # append to dataframe list for all listings
        dataframe_list.append(_temp_df)

    # concatenate all dataframes, for missing col values enter null value
    return pd.concat(dataframe_list, axis=0, ignore_index=True, sort=False)

In [6]:
def make_house_data_clean(df_properties_for_sale_raw):
    df_properties_for_sale_raw = pd.DataFrame(df_properties_for_sale_raw)# transfer into dataframe
    df_pol_ps = df_properties_for_sale_raw['lot_size'].apply(pd.Series) # make this int column non interable into series then 
    df_properties_for_sale_raw['size'] = df_pol_ps['size'] # then make it into column 

    # pick out only the columns we want  and rename them 
    list2 = ['property_id', 'listing_id','address','prop_status','price', 'baths_full', 'baths', 'beds', 'building_size','last_update', 'lot_size','baths_half', 'size']
    result = df_properties_for_sale_raw[list2]
    result.columns = ['property_id', 'listing_id','address','prop_status','price', 'baths_full', 'baths', 'beds', 'building_size','last_update', 'lot_size','baths_half', 'lot_size']
    return result

In [7]:
def get_address_and_buildingsize(result):
    address = pd.json_normalize(result['address'])
    building_size = pd.json_normalize(result['building_size'])
    building_size.columns =['building_size','building_inside_units']
    result2 = pd.concat([address,building_size], axis=1)
    result3 = pd.concat([df,result2], axis=1)
    return result3

In [8]:
# Variables 
city = "myrtle beach"
state = "SC"
prop_type = "single_family"

property_list_for_sale_response = api_property_list_for_sale(
                                                             city=city, 
                                                             state=state, 
                                                             prop_type=prop_type,
                                                             limit=200)

In [9]:
df_properties_for_sale_raw = process_list_for_sale_response(response_json=property_list_for_sale_response)

In [161]:
df = make_house_data_clean(df_properties_for_sale_raw)
#list(df.columns)
df

,property_id,listing_id,address,prop_status,price,baths_full,baths,beds,building_size,last_update,lot_size,baths_half,lot_size
0,M9410361591,2929615304,"{'city': 'Myrtle Beach', 'line': '533 Ambrosia...",for_sale,235000,2,2,3,"{'size': 1449, 'units': 'sqft'}",2021-05-22T16:35:18Z,"{'size': 10890, 'units': 'sqft'}",NaN,10890.0
1,M9090577838,2929605773,"{'city': 'Myrtle Beach', 'line': '2185 Sanibel...",for_sale,424900,3,3,4,"{'size': 1725, 'units': 'sqft'}",2021-05-22T04:15:29Z,NaN,NaN,NaN
2,M9155203410,2929592057,"{'city': 'Myrtle Beach', 'line': '9035 Gatewic...",for_sale,249900,2,2,3,"{'size': 1394, 'units': 'sqft'}",2021-05-21T20:51:17Z,"{'size': 7841, 'units': 'sqft'}",NaN,7841.0
3,M9416395684,2929590343,"{'city': 'Myrtle Beach', 'line': '650 Elgin Ct...",for_sale,394900,3,4,4,"{'size': 2624, 'units': 'sqft'}",2021-05-22T00:31:43Z,"{'size': 15682, 'units': 'sqft'}",1,15682.0
4,M5723306696,2929587613,"{'city': 'Myrtle Beach', 'line': '2534 Goldfin...",for_sale,400000,2,2,3,"{'size': 2148, 'units': 'sqft'}",2021-05-21T19:44:11Z,"{'size': 13068, 'units': 'sqft'}",NaN,13068.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,M9453125981,2929083403,"{'city': 'Myrtle Beach', 'line': '1424 Brighto...",for_sale,255000,2,3,4,"{'size': 1850, 'units': 'sqft'}",2021-05-22T13:37:37Z,"{'size': 6098, 'units': 'sqft'}",1,6098.0
196,M9549522450,2929083084,"{'city': 'Myrtle Beach', 'line': '2653 Corn Pi...",for_sale,249000,2,2,3,"{'size': 1464, 'units': 'sqft'}",2021-05-10T21:58:38Z,"{'size': 19602, 'units': 'sqft'}",NaN,19602.0
197,M9698682059,2929082893,"{'city': 'Myrtle Beach', 'line': '6001-1454 S ...",for_sale,237000,3,3,4,"{'size': 1610, 'units': 'sqft'}",2021-05-17T15:11:36Z,"{'size': 1742, 'units': 'sqft'}",NaN,1742.0
198,M9517132030,2929080051,"{'city': 'Myrtle Beach', 'line': '3556 Lightho...",for_sale,198500,2,2,2,"{'size': 1076, 'units': 'sqft'}",2021-05-09T18:04:01Z,"{'size': 8712, 'units': 'sqft'}",NaN,8712.0
199,M9903420168,2929075197,"{'city': 'Myrtle Beach', 'line': '289 Wateree ...",for_sale,289900,2,2,3,"{'size': 2229, 'units': 'sqft'}",2021-05-10T20:49:28Z,"{'size': 10454, 'units': 'sqft'}",NaN,10454.0

In [164]:
# expand the address and building size columns 
var2 = get_address_and_buildingsize(df)
#var2['line']
var2['line']

0            533 Ambrosia Loop
1              2185 Sanibel Ct
2             9035 Gatewick Ct
3                 650 Elgin Ct
4            2534 Goldfinch Dr
                ...
195          1424 Brighton Ave
196          2653 Corn Pile Rd
197    6001-1454 S Kings Hwy S
198        3556 Lighthouse Way
199       289 Wateree River Rd
Name: line, Length: 200, dtype: object

# Melisa.com is giving me problems try to use selenium and click and sign in to grab street..

In [74]:
# final = get_street_neighbors(var2)
# final

In [169]:
# Loop through all of the columns then get the names you need to make the new url to throw in the selenium code.. 
for i in range(0,len(var2)):   
    try:
        street = var2['line'][i]                                 # get the street name
        result = ''.join([i for i in street if not i.isdigit()]) # search for digits and replace them when searching for the street
        result =result.strip()                                   # remove leading and trailing spaces
        street = result.replace(" ", "+")                        # replace spances with plus ( thats how the website likes it)

        # Get state name then
        state = var2['state'][i]
        state = us_state_abbrev[state]   # convert full name to abbriviation

        # get postal code.. 
        zipcode = var2['postal_code'][i]

        # get city and then replace the space with plus
        city = var2['city'][i]
        city = city.replace(" ", "+")
        #print(street + " " + state + " " + zipcode +" " + city) VERIFY!!!

        # Get the url for the selenium loop... 
        link_to_neighbors = 'https://www.melissa.com/v2/lookups/addresssearch/?number=&street={0}&city={1}&state={2}&zip={3}&freeForm='.format(street,city,state,zipcode)

        # initiate crome driver
        c = webdriver.ChromeOptions()

        # get the path to the chrome driver 
        driver = webdriver.Chrome(executable_path='C:/Users/btindol/OneDrive - Stryker/ChromeDriver/chromedriver.exe')#,options=c)

        # wait a bit
        driver.implicitly_wait(0.5)

        # use the url that got in above code 
        driver.get(link_to_neighbors) # use the url that was created before... 

        # get past the pop up alert..
        WebDriverWait(driver, 10).until(EC.alert_is_present())

        # click out of it
        driver.switch_to.alert.accept()

        # wait a bit 
        driver.implicitly_wait(3)

        # grab email to input eamil for user name 
        emailfield= driver.find_element_by_id("ctl00_ContentPlaceHolder1_Signin1_txtEmail")

        # grab password to put in pass
        passwordmessagefield = driver.find_element_by_id("ctl00_ContentPlaceHolder1_Signin1_txtPassword")

        # put in email
        emailfield.send_keys(email)

        # put in password
        passwordmessagefield.send_keys(passwordz)

        # submit button 
        submitbutton = driver.find_element_by_id("ctl00_ContentPlaceHolder1_Signin1_btnLogin")
        submitbutton.click() # send click t osubmit

        # get the excel file on the page and download.. 
        excelfile = driver.find_element_by_xpath('//*[@id="content"]/section[3]/div/div/div/span/div/div[3]/input[3]')
        excelfile.click()
    except:
        pass

In [192]:
import os
direct = 'C:\\Users\\btindol\\Downloads\\'

listz = []
listnames = []
for filename in os.listdir('C:\\Users\\btindol\\Downloads'):
    if filename.endswith(".xlsx"):
        #print(filename)
        var = direct +  filename
        print(var)
        #do your operation
        data_df = pd.read_excel(var)#, sheet_name=None)
        listnameorder=data_df['Address'][0]
        listnames.append(listnameorder)
        data_df = pd.DataFrame(data_df)
        listz.append(data_df)
        #os.remove(data_df)
listnames

C:\Users\btindol\Downloads\address_202105221739.xlsx
C:\Users\btindol\Downloads\address_202105221740 (1).xlsx
C:\Users\btindol\Downloads\address_202105221740 (2).xlsx
C:\Users\btindol\Downloads\address_202105221740 (3).xlsx
C:\Users\btindol\Downloads\address_202105221740.xlsx
C:\Users\btindol\Downloads\address_202105221741 (1).xlsx
C:\Users\btindol\Downloads\address_202105221741.xlsx
C:\Users\btindol\Downloads\address_202105221745 (1).xlsx
C:\Users\btindol\Downloads\address_202105221745.xlsx
C:\Users\btindol\Downloads\address_202105221746 (1).xlsx
C:\Users\btindol\Downloads\address_202105221746 (2).xlsx
C:\Users\btindol\Downloads\address_202105221746 (3).xlsx
C:\Users\btindol\Downloads\address_202105221746 (4).xlsx
C:\Users\btindol\Downloads\address_202105221746.xlsx
C:\Users\btindol\Downloads\address_202105221747.xlsx
C:\Users\btindol\Downloads\address_202105221748 (1).xlsx
C:\Users\btindol\Downloads\address_202105221748 (2).xlsx
C:\Users\btindol\Downloads\address_202105221748.xlsx
C:\Users\btindol\Downloads\address_202105221749 (1).xlsx
C:\Users\btindol\Downloads\address_202105221749 (2).xlsx
C:\Users\btindol\Downloads\address_202105221749 (3).xlsx
C:\Users\btindol\Downloads\address_202105221749.xlsx
C:\Users\btindol\Downloads\address_202105221750 (1).xlsx
C:\Users\btindol\Downloads\address_202105221750 (2).xlsx
C:\Users\btindol\Downloads\address_202105221750.xlsx
C:\Users\btindol\Downloads\address_202105221751.xlsx
C:\Users\btindol\Downloads\address_202105221752 (1).xlsx
C:\Users\btindol\Downloads\address_202105221752.xlsx
C:\Users\btindol\Downloads\address_202105221753 (1).xlsx
C:\Users\btindol\Downloads\address_202105221753 (2).xlsx
C:\Users\btindol\Downloads\address_202105221753.xlsx
C:\Users\btindol\Downloads\address_202105221754 (1).xlsx
C:\Users\btindol\Downloads\address_202105221754.xlsx
C:\Users\btindol\Downloads\address_202105221755 (1).xlsx
C:\Users\btindol\Downloads\address_202105221755.xlsx
C:\Users\btindol\Downloads\address_202105221758 (1).xlsx
C:\Users\btindol\Downloads\address_202105221758.xlsx
C:\Users\btindol\Downloads\address_202105221759 (1).xlsx
C:\Users\btindol\Downloads\address_202105221759.xlsx
C:\Users\btindol\Downloads\address_202105221800 (1).xlsx
C:\Users\btindol\Downloads\address_202105221800 (2).xlsx
C:\Users\btindol\Downloads\address_202105221800 (3).xlsx
C:\Users\btindol\Downloads\address_202105221800 (4).xlsx
C:\Users\btindol\Downloads\address_202105221800.xlsx
C:\Users\btindol\Downloads\address_202105221801 (1).xlsx
C:\Users\btindol\Downloads\address_202105221801 (2).xlsx
C:\Users\btindol\Downloads\address_202105221801 (3).xlsx
C:\Users\btindol\Downloads\address_202105221801.xlsx
C:\Users\btindol\Downloads\address_202105221802 (1).xlsx
C:\Users\btindol\Downloads\address_202105221802 (2).xlsx
C:\Users\btindol\Downloads\address_202105221802.xlsx
C:\Users\btindol\Downloads\address_202105221803 (1).xlsx
C:\Users\btindol\Downloads\address_202105221803 (2).xlsx
C:\Users\btindol\Downloads\address_202105221803.xlsx
C:\Users\btindol\Downloads\address_202105221804 (1).xlsx
C:\Users\btindol\Downloads\address_202105221804.xlsx
C:\Users\btindol\Downloads\address_202105221805.xlsx
C:\Users\btindol\Downloads\address_202105221806.xlsx
C:\Users\btindol\Downloads\address_202105221807.xlsx
C:\Users\btindol\Downloads\address_202105221808 (1).xlsx
C:\Users\btindol\Downloads\address_202105221808.xlsx
C:\Users\btindol\Downloads\address_202105221809 (1).xlsx
C:\Users\btindol\Downloads\address_202105221809 (2).xlsx
C:\Users\btindol\Downloads\address_202105221809 (3).xlsx
C:\Users\btindol\Downloads\address_202105221809 (4).xlsx
C:\Users\btindol\Downloads\address_202105221809.xlsx
C:\Users\btindol\Downloads\address_202105221810 (1).xlsx
C:\Users\btindol\Downloads\address_202105221810.xlsx
C:\Users\btindol\Downloads\address_202105221811 (1).xlsx
C:\Users\btindol\Downloads\address_202105221811 (2).xlsx
C:\Users\btindol\Downloads\address_202105221811 (3).xlsx
C:\Users\btindol\Downloads\address_202105221811.xlsx
C:\Users\btindol\Downloads\address_202105221812.xlsx
C:\Users\btindol\Downloads\address_202105221813 (1).xlsx
C:\Users\btindol\Downloads\address_202105221813.xlsx
C:\Users\btindol\Downloads\address_202105221814 (1).xlsx
C:\Users\btindol\Downloads\address_202105221814.xlsx
C:\Users\btindol\Downloads\address_202105221815.xlsx
C:\Users\btindol\Downloads\address_202105221816 (1).xlsx
C:\Users\btindol\Downloads\address_202105221816.xlsx
C:\Users\btindol\Downloads\address_202105221817.xlsx
C:\Users\btindol\Downloads\address_202105221819 (1).xlsx
C:\Users\btindol\Downloads\address_202105221819 (2).xlsx
C:\Users\btindol\Downloads\address_202105221819.xlsx
C:\Users\btindol\Downloads\address_202105221820 (1).xlsx
C:\Users\btindol\Downloads\address_202105221820 (2).xlsx
C:\Users\btindol\Downloads\address_202105221820.xlsx
C:\Users\btindol\Downloads\address_202105221822 (1).xlsx
C:\Users\btindol\Downloads\address_202105221822 (2).xlsx
C:\Users\btindol\Downloads\address_202105221822 (3).xlsx
C:\Users\btindol\Downloads\address_202105221822 (4).xlsx
C:\Users\btindol\Downloads\address_202105221822.xlsx
C:\Users\btindol\Downloads\address_202105221823 (1).xlsx
C:\Users\btindol\Downloads\address_202105221823 (2).xlsx
C:\Users\btindol\Downloads\address_202105221823.xlsx
C:\Users\btindol\Downloads\address_202105221824 (1).xlsx
C:\Users\btindol\Downloads\address_202105221824 (2).xlsx
C:\Users\btindol\Downloads\address_202105221824 (3).xlsx
C:\Users\btindol\Downloads\address_202105221824.xlsx
C:\Users\btindol\Downloads\address_202105221825 (1).xlsx
C:\Users\btindol\Downloads\address_202105221825 (2).xlsx
C:\Users\btindol\Downloads\address_202105221825 (3).xlsx
C:\Users\btindol\Downloads\address_202105221825.xlsx
C:\Users\btindol\Downloads\address_202105221826 (1).xlsx
C:\Users\btindol\Downloads\address_202105221826 (2).xlsx
C:\Users\btindol\Downloads\address_202105221826 (3).xlsx
C:\Users\btindol\Downloads\address_202105221826 (4).xlsx
C:\Users\btindol\Downloads\address_202105221826.xlsx
C:\Users\btindol\Downloads\address_202105221827 (1).xlsx
C:\Users\btindol\Downloads\address_202105221827 (2).xlsx
C:\Users\btindol\Downloads\address_202105221827 (3).xlsx
C:\Users\btindol\Downloads\address_202105221827.xlsx
C:\Users\btindol\Downloads\address_202105221828 (1).xlsx
C:\Users\btindol\Downloads\address_202105221828.xlsx
C:\Users\btindol\Downloads\address_202105221829.xlsx
C:\Users\btindol\Downloads\address_202105221830 (1).xlsx
C:\Users\btindol\Downloads\address_202105221830 (2).xlsx
C:\Users\btindol\Downloads\address_202105221830 (3).xlsx
C:\Users\btindol\Downloads\address_202105221830 (4).xlsx
C:\Users\btindol\Downloads\address_202105221830.xlsx
C:\Users\btindol\Downloads\address_202105221831 (1).xlsx
C:\Users\btindol\Downloads\address_202105221831.xlsx
C:\Users\btindol\Downloads\address_202105221832.xlsx
C:\Users\btindol\Downloads\address_202105221833 (1).xlsx
C:\Users\btindol\Downloads\address_202105221833 (2).xlsx
C:\Users\btindol\Downloads\address_202105221833 (3).xlsx
C:\Users\btindol\Downloads\address_202105221833.xlsx
C:\Users\btindol\Downloads\address_202105221834 (1).xlsx
C:\Users\btindol\Downloads\address_202105221834 (2).xlsx
C:\Users\btindol\Downloads\address_202105221834.xlsx
C:\Users\btindol\Downloads\address_202105221835 (1).xlsx
C:\Users\btindol\Downloads\address_202105221835 (2).xlsx
C:\Users\btindol\Downloads\address_202105221835 (3).xlsx
C:\Users\btindol\Downloads\address_202105221835.xlsx
C:\Users\btindol\Downloads\address_202105221836 (1).xlsx
C:\Users\btindol\Downloads\address_202105221836 (2).xlsx
C:\Users\btindol\Downloads\address_202105221836.xlsx
C:\Users\btindol\Downloads\address_202105221837 (1).xlsx
C:\Users\btindol\Downloads\address_202105221837.xlsx
C:\Users\btindol\Downloads\address_202105221838.xlsx
C:\Users\btindol\Downloads\address_202105221839 (1).xlsx
C:\Users\btindol\Downloads\address_202105221839 (2).xlsx
C:\Users\btindol\Downloads\address_202105221839 (3).xlsx
C:\Users\btindol\Downloads\address_202105221839 (4).xlsx
C:\Users\btindol\Downloads\address_202105221839.xlsx
C:\Users\btindol\Downloads\address_202105221840 (1).xlsx
C:\Users\btindol\Downloads\address_202105221840.xlsx

['500 Ambrosia Loop',
 '9000 Gatewick Ct',
 '601 Elgin Ct',
 '2350 Goldfinch Dr',
 '2130 Sanibel Ct',
 '2700 Canvasback Trl',
 '6303 Porcher Dr',
 '2130 Sanibel Ct',
 '500 Ambrosia Loop',
 '601 Elgin Ct',
 '2350 Goldfinch Dr',
 '6303 Porcher Dr',
 '2700 Canvasback Trl',
 '9000 Gatewick Ct',
 '1509 Harlow Ct',
 '100 Southbury Dr',
 '2602 Temperance Dr',
 '700 Cane Pole Ct',
 '4854 Westwind Dr',
 '500 Oak Circle Dr',
 '2554 Wild Game Trl',
 '561 Indigo Bay Cir',
 '1100 Bluffton Ct',
 '3800 Pine Lake Dr',
 '401 Pennington Loop',
 '101 Queens Harbour Blvd',
 '100 Barclay Dr',
 '100 Carnaby Loop',
 '300 Harbour Reef Dr',
 '5001 Big Bear Ct',
 '401 Mooreland Dr',
 '1 Plantation Rd',
 '1100 King St',
 '300 Troon Ln',
 '2101 Birchwood Cir',
 '2047 Forestbrook Rd',
 '1406 Saint Thomas Cir',
 '5004 Wickalow Way',
 '1 San Marks Ct',
 '2000 Copper Creek Ct',
 '5508 Springs Ave',
 '1406 Saint Thomas Cir',
 '5701 Longleaf Dr',
 '104 Whipple Run Loop',
 '200 Black Pearl Way',
 '300 Esher Ct',
 '300 Casena St',
 '4321 Dew North Ct',
 '4603 Southgate Pkwy',
 '1 Pioneer Ln',
 '300 Winslow Ave',
 '1400 Sunningdale Ln',
 '100 Green Lake Dr',
 '4854 Westwind Dr',
 '4473 Farm Lake Dr',
 '305 Arcadian Dr',
 '1751 Bluff Dr',
 '1120 Monticello Dr',
 '100 Links Rd',
 '2200 River Rd',
 '3002 Rockwater Cir',
 '900 Silverton Dr',
 '3200 Fieldstone St',
 '3200 Saddlewood Cir',
 '4854 Westwind Dr',
 '3002 Rockwater Cir',
 '105 Avenue of the Palms',
 '97 Folly Rd',
 '8003 Cortona Dr',
 '101 Henry Middleton Blvd',
 '1400 Thames Ct',
 '903 Dunrobin Ln',
 '906 Shipmaster Ave',
 '2600 Henagan Ln',
 '9701 Armelise Dr',
 '6603 E Sweetbriar Trl',
 '103 Marsh Hawk Dr',
 '601 Towhee Ct',
 '213 Ayershire Ln',
 '4473 Farm Lake Dr',
 '123 Viareggio Rd',
 '1506 Buckingham Ave',
 '4218 Congressional Dr',
 '1110 Prescott Cir',
 '26 Ranchette Cir',
 '1027 Starcreek Cir',
 '101 Leadoff Dr',
 '6101 Chadderton Cir',
 '6101 Chadderton Cir',
 '6101 Chadderton Cir',
 '6101 Chadderton Cir',
 '400 Caretta Ct',
 '6101 Chadderton Cir',
 '6101 Chadderton Cir',
 '6101 Chadderton Cir',
 '6101 Chadderton Cir',
 '6101 Chadderton Cir',
 '6101 Chadderton Cir',
 '6101 Chadderton Cir',
 '4301 Marshwood Dr',
 '100 Kenzgar Dr',
 '511 Winterberry Ln',
 '1187 Brighton Ave',
 '500 Dania Beach Dr',
 '1506 Buckingham Ave',
 '301 Las Olas Dr',
 '301 Las Olas Dr',
 '4626 Teakwood Dr',
 '1000 Bramshaw Ct',
 '2 Cheyenne Rd',
 '200 Cabo Loop',
 '5508 Green Bay Cir',
 '8700 Coosaw Ct',
 '800 Cherry Bark Ct',
 '8225 Tartan Ln',
 '906 Shipmaster Ave',
 '301 Worthington Cir',
 '6028 Campanella St',
 '1003 Anrea St',
 '7268 Catena Ln',
 '402 Lumber River Rd',
 '5404 Sunset Lake Ln',
 '7101 Spoleto Dr',
 '3445 Bristol Ln',
 '2700 Canvasback Trl',
 '8300 Juxa Dr',
 '906 Shipmaster Ave',
 '6303 Porcher Dr',
 '4084 Steeple Chase Dr',
 '110 Cambridge Cir',
 '3400 Westminster Dr',
 '800 Cherry Bark Ct',
 '310 Thistle Ln',
 '6500 Bryant St',
 '3000 Regency Oaks Dr',
 '207 Welcome Dr',
 '5507 Porcher Dr',
 '5400 Merrywind Ct',
 '100 Neal Ln',
 '6300 Torino Ln',
 '1 Smith Blvd',
 '100 Split Oak Ct',
 '1187 Brighton Ave',
 '2600 Corn Pile Rd',
 '6101 Chadderton Cir',
 '240 Wateree River Rd',
 '3500 Lighthouse Way']

In [178]:
street = var2['line'][2]
street

'9035 Gatewick Ct'

In [194]:
# matching file names to the addresses.
#listz2 = [listz]#,listnames]
dfzzz= pd.concat(listz)
#listz2[0][1]
dfzzz

,HouseNumber,Street,StreetSuffix,City,State,Zip,StreetName,Address,StateName,Zip4,AddressType,RBDI,Active,Fips,County,ResultCode,MAK
0,500,Ambrosia,Loop,Myrtle Beach,SC,29579,NaN,500 Ambrosia Loop,South Carolina,NaN,,Residential,Yes,45051.0,horry,AS03,1442484286
1,501,Ambrosia,Loop,Myrtle Beach,SC,29579,NaN,501 Ambrosia Loop,South Carolina,7054.0,Street,Residential,Yes,45051.0,horry,AS01,1078919714
2,505,Ambrosia,Loop,Myrtle Beach,SC,29579,NaN,505 Ambrosia Loop,South Carolina,7054.0,Street,Residential,Yes,45051.0,horry,AS01,6241258760
3,509,Ambrosia,Loop,Myrtle Beach,SC,29579,NaN,509 Ambrosia Loop,South Carolina,7054.0,Street,Residential,Yes,45051.0,horry,AS01,9622347032
4,513,Ambrosia,Loop,Myrtle Beach,SC,29579,NaN,513 Ambrosia Loop,South Carolina,7054.0,Street,Residential,Yes,45051.0,horry,AS01,1328098783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,3546,Lighthouse,Way,Myrtle Beach,SC,29577,NaN,3546 Lighthouse Way,South Carolina,5937.0,Street,Residential,Yes,45051.0,horry,AS01,8700486088
16,3549,Lighthouse,Way,Myrtle Beach,SC,29577,NaN,3549 Lighthouse Way,South Carolina,5938.0,Street,Residential,Yes,45051.0,horry,AS01,2654063784
17,3553,Lighthouse,Way,Myrtle Beach,SC,29577,NaN,3553 Lighthouse Way,South Carolina,5938.0,Street,Residential,Yes,45051.0,horry,AS01,6341010639
18,3556,Lighthouse,Way,Myrtle Beach,SC,29577,NaN,3556 Lighthouse Way,South Carolina,5937.0,Street,Residential,Yes,45051.0,horry,AS01,3432408415
19,3557,Lighthouse,Way,Myrtle Beach,SC,29577,NaN,3557 Lighthouse Way,South Carolina,NaN,,Residential,Yes,45051.0,horry,AS03,7246368049

# Use zillow to get data

In [83]:
zillow_data = ZillowWrapper("X1-ZWz1fjckjdd8gb_a2eph")

In [86]:
# Grab one of the hosue numbers on the street
address = df['Address'][0]
zipcode = df['Zip'][0]
address

'500 Ambrosia Loop'

In [87]:
deep_search_response = zillow_data.get_deep_search_results(address, zipcode, True)
result = GetDeepSearchResults(deep_search_response)
print("Bathrooms " +result.bathrooms)
print("Bedrooms " + result.bedrooms)
print("County fips " + result.fips_county)
print(result.total_rooms)
print("The Zillow ID is " +result.zillow_id)
print("zestimate percentile is " +result.zestimate_percentile)
print("zestimate last updated " +result.zestimate_last_updated)
print("zestimate amount  " +result.zestimate_amount)
print(result.map_this_home_link)
print("Valuation Range High End " +result.zestimate_valuation_range_high)
print("Valuation Range Low End " +result.zestimate_valuation_range_low)
print("Last sold price " +result.last_sold_price)
print("City " + result.city)
print(result.graph_data_link)
print("Rent Zestimate Amount " + result.rentzestimate_amount)
print("Zipcode " + result.zipcode)
print("Street " + result.street)

Bathrooms 2.5
Bedrooms 3
County fips 45051
None
The Zillow ID is 92415525
zestimate percentile is 0
zestimate last updated 05/22/2021
zestimate amount  286541
http://www.zillow.com/homes/92415525_zpid/
Valuation Range High End 300868
Valuation Range Low End 269349
Last sold price 252781
City Myrtle Beach
http://www.zillow.com/homedetails/500-Ambrosia-Loop-Myrtle-Beach-SC-29579/92415525_zpid/#charts-and-data
Rent Zestimate Amount 1750
Zipcode 29579
Street 500 Ambrosia Loop